body{
  background-color: rgb(255, 255, 255);
  padding: 0px 100px; 

}
.logof img{
    width: 200px;
    padding: 15px;
    
  }
  
nav{
 display: flex;
 background-color: rgb(190, 190, 190);
 justify-content: space-between;
 padding: 10px 40px;
  } 
  .icon{
   width: 30px;
  }
nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  }

  nav li {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    
    display: inline-block;
  padding: 5px 30px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  font-size: 18px;
    }

  nav ul li a:hover{
    color: rgb(0, 0, 0);
  }
body {
  font-size: large;
  font-style:serif;
}
p{
  text-align: left;
  border: 50px 0px;
}
 .link-1{
  color: rgb(236, 52, 52);
}
.link-1 :hover{
  color: rgb(63, 32, 244);
  
}

#foto{
  max-width: 25%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
#foto2{
  max-width: 25%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
